.message{data: {message: {id: message.id}}}
  .top
    .name
      = message.user.name
    .created_at
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .bottom-message
    - if message.content.present?
      %p.bottom-message__content
        = message.content
    = image_tag message.image.url, class: 'bottom-message__image' if message.image.present?